/* Root styling */
/* ===================================================================================================================================== */
/* define variable colors */
:root{
  --yellow: rgba(255, 218, 113, 1);
  --white: rgb(255, 255, 255);
  --white-transparent: rgba(255, 255, 255, 0.7);
  --light-gray:rgba(238, 238, 247, 0.4);
  --gray:rgba(200, 200, 201, 0.703);
  --blue-gray: rgba(68, 88, 119, 1);
  --dark-gray: rgba(49, 52, 61, 1);
  --black: rgba(28, 29, 33, 1);
  font-size: 10px;
}

/* establish font family and line height for entire body */
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* establish coloring for h2 and h3 headers */
h2, h3 {
  color: var(--dark-gray);
}
/* ===================================================================================================================================== */


/* Header styling */
/* ===================================================================================================================================== */
/* style header as a flexbox with padding and giving it a cool Steelers look :) */
header{
  background-color: var(--dark-gray);
  padding: 5px 6% 5px 0;  
  display: flex;  
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2.0rem;
  font-weight: 350px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
}

/* style left section container of header for the 'Josh Lutz' name */
.left-section{
  display: flex;
  align-items: center;
  background-color: var(--yellow);
  color: var(--dark-gray);
  font-size: 1.0em; 
  padding: 2px 8px 2px 35px;
  line-height: 1;
}

.left-section h1{
  margin: 5px 0 5px 0;
}

/* style the middle section container of header housing the nav links */
.middle-section{
  display: flexbox;
  align-items: center;
  flex-direction: row;
  flex: 1;
  width: 130%;
}

/* style the profile picture in the header */
.current-user{
  height: 50px;
  border-radius: 16px;
  margin-right: 35px;
  flex-direction: row;
  display: flex;
  align-items: center;
  transition: all 0.25s ease-in;
}

/* style the profile picture in header when user hovers */
.current-user:hover{
  cursor: pointer;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 1px 15px 1px var(--yellow);
}

/* style nav-specific elements */
nav{
  display: flex;
  justify-content: end; 
  margin-right: 1.5%;  
}

/* style the nav links and prep for hover */
nav a{
  color: var(--yellow);
  /* text-decoration: none; */
  padding: 5px 10px 0.5em;
  margin-right: 20px;
  text-decoration: none; 
  background-image: linear-gradient(200deg, var(--yellow) 0%, var(--yellow) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

/* style the nav links on hover */
nav a:hover{
  background-size: 100% 100%;
  color: var(--dark-gray);
}

/* style the banner and include a Heinz field (Steelers stadium) as the background image */
.top-banner{
  min-height: 30em;
  max-height: 40em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  padding: 0 8.2% 2.5%;
}

/* style the h2 element in the top banner so that it says Go Steelers in black and yellow */
.top-banner h2{
  background-color: var(--yellow);  
  font-size: 3.5em;
  padding: 5px 10px;
  color: var(--dark-gray);
  line-height: 1.2;
  display: inline;
}
/* ===================================================================================================================================== */


/* Main Section Styling */
/* ===================================================================================================================================== */

/* style the main page */
.main-page{
  min-width: 100%;
  color: var(--dark-gray);
}

#about-me p {
  padding-right: 24px;
}

#about-me-containter {
  position: relative;
  min-height: 100%;
}

#about-me-wrap {
  padding-bottom: 2.5rem;
}


/* style the main section where the user will find the styling of sections such as about me, work, and contact me */
.main-section{
  font-size: 1.9rem;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 2.5rem;
}

/* style the headers that are found outlining what section the user is currently viewing (i.e. About Me, Work, and Contact Me) */
.main-section h2{
  font-size: 250%;
  border-right: solid 3.8px var(--dark-gray);
  padding-right: 15px;
  flex: 0 0 20%;
  text-align: right;
  line-height: 1.25;
}

.about-me-img {
  width: 60%;
  border-radius: 18px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 3px 5px 8px 0.5px var(--dark-gray);
  margin-top: 8px;
  align-items: center;
  justify-content: center;
}

/* style the flex positioning of the div element in main-section */
.main-section div{
  flex: 0 0 76.5%;
}

/* style the paragraph element which is primarily used in the About Me */
.main-section p{
  margin-bottom: 20px;
}

/* style the flex containers that house all of the work portfolios */
.flex-container{  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 18px;  
}

/* style each flex item, applying dark gray borders and a white shade prior to hover */
.flex-item {
  min-height: 200px;
  max-height: 200px;
  margin-bottom: 8px;
  color: var(--dark-gray);
  border: 3px solid var(--dark-gray);
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-color: var(--white-transparent);
  background-size: 100%;
  transition: all 0.3s;
  font-size: 0.8em;
}

/* establish first & fourth child as the main work cards so that it is larger than other work cards */
.flex-item:first-child{
  min-height: 360px;
  flex-basis: 100%;
}

.flex-item:nth-child(4) {
  min-height: 360px;
  flex-basis: 100%;
}


/* style the div container where the text is found inside the respective work card */
.flex-item div{
  background-color: var(--yellow);
  padding: 8px 10px;  
  display: flex;
  flex: auto 0;
  flex-direction: column;
}

/* style the main header in the div container found inside the respective work card */
.flex-item h3{
  font-size: 2.0em;
  color: var(--dark-gray);
}

/* style the flex item hover capability showing that it is more in focus */
.flex-item:hover {
  background-color: #dfdfdf10;
  color: var(--dark-gray);
}

.flex-item-img:hover {
  opacity: 1.0;
}

/* Portfolio styling */
/* ===================================================================================================================================== */



/* SPPECTR size, ensuring no repeat */
.Virtuoso {
  background-repeat: no-repeat;
  background-size: 86%;
}

/* iDAD size, ensuring no repeat */
.iDAD {
  background-repeat: no-repeat;
  background-size: 100%;
}

/* PWA size, ensuring no repeat */
.PWA {
  background-repeat: no-repeat;
  background-size: 100%;
}

/* PWA size, ensuring no repeat */
.noteTaker {
  background-repeat: no-repeat;
  background-size: 100%;
}

/* Tech Blog size, ensuring no repeat */
.techBlog {
  background-repeat: no-repeat;
  background-size: 100%;
}

/* YouTube Clone size, ensuring no repeat */
.youtubeClone { 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}


/* Resume styling */
/* ===================================================================================================================================== */

#download {
  font-size: 20px;
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: right;
}

#download-hyperlink {
  text-decoration: none;
  color: var(--dark-gray);
}

#download-text {
  display: flex;
  flex: 0;
  padding-top: 9px;
}

.download-button {
  width: 40px;
}

.resume-section-content {
  padding-right: 24px;
  padding-top: 12px;
  border-bottom: solid 2px var(--yellow);
}

.resume-section-content:last-child {
  border-bottom: none;
}

.resume-header {
  color: var(--dark-gray);  
  font-weight: 800;
  font-size: 30px;
}

.resume-card {
  margin-bottom: 12px;
  margin-left: 8px;
}

.resume-card:hover {
  transition: all 0.3s ease-in;
  border-left: solid 1px  var(--yellow);
  margin-left: 7px;
}

.resume-title {
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
}

#resume-date {
  font-size: 13px;
  padding-top: 4px;  
}

.employer h3 {
  font-size: 22px;
  margin: 0 0 10px 0;
}

.employer p {
  font-style: italic;
  font-size: 10px;
  margin: 0;
  padding-left: 14px;
}

.employer ul {
  font-size: 16px;
  margin: 0;
  padding-left: 28px;
}


/* Footer styling */
/* ===================================================================================================================================== */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  max-height: 8em;
  min-height: 5.5em;
  margin-top: 25px;
  background-color: var(--dark-gray);
  border-top: solid var(--yellow);
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.footer-icon {
  display: flex;
  justify-content: space-between;
}

.footer-icon a{
  margin: 0 20px 0 20px;
  margin-top: 2px;
}

#linkedin-icon {
  transition: all 0.3s ease-in;
  width: 38px;
  filter: grayscale(75%);
  border-radius: 8px;
  /* background-color: white; */
}

#linkedin-icon:hover {
  transition: all 0.3s ease-in;
  background-color: var(--white);
  filter: grayscale(0%);
  /* background-color: white; */
}

#github-icon {
  transition: all 0.3s ease-in;
  width: 38px;
  filter: grayscale(70%);
  border-radius: 8px;
  /* background-color: white; */
}

#github-icon:hover {
  transition: all 0.3s ease-in;
  background-color: var(--white);
  filter: grayscale(0%);
  /* background-color: white; */
}

#gmail-icon {
  transition: all 0.3s ease-in;
  margin-top: 3px;
  width: 38px;
  filter: grayscale(80%);
  border-radius: 8px;
  /* background-color: white; */
}

#gmail-icon:hover {
  transition: all 0.3s ease-in;  
  filter: grayscale(0%) contrast(135%);
  /* background-color: white; */
}



/* Media query styling */
/* ===================================================================================================================================== */
@media screen and (max-width: 970px) {
  #download {
    justify-content: start;  
  }

  header {
    display: flex;
    position: relative;
    padding: 0 0 10px 0;
    justify-content: center;
    text-align: center;
  }

  .left-section{
    display: flex;
    padding: 0;
    text-align: center;
    width: 100%;
  }

  .middle-section{
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
  }

  .right-section{
    display: none;
  }

  .current-user{
    display: none;
  }

  header h1 {
    width: 100%;
    font-size: 10vw;
  }

  header nav {        
    justify-content: center;
    margin: 8px 0 0 0;
  }

  nav a:last-child{
    margin-right: 0;
  }

  .main-section > h2,
  .main-section > div {
    flex: 0 0 100%;
  }

  .main-section {
    margin-top: 0;
    padding-left: 3px;
  }

  .top-banner {
    height: 50%;
  }

  .main-section > h2 {
    border-right: none;
    border-bottom: 4px solid var(--dark-gray);
    margin-bottom: 15px;
    margin-top: 0;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }

  .about-me-img {
    width: 25%;
  }

  footer{
    position: fixed;
  }
}

@media screen and (max-width: 750px) {
  header nav{
    font-size: 65%;
  }

  .flex-item,
  .flex-item:first-child {
    flex-basis: 100%;
  }

  .flex-item:first-child {
    min-height: 150px;
  }

  .top-banner {
    justify-content: center;
    text-align: center;
  }

  .about-me-img {
    width: 25%;
  }

  footer{
    position: fixed;
  }
}